asgiref==3.4.1
astroid==2.8.4
atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.7
colorama==0.4.4
coverage==6.1.2
crispy-bootstrap5==0.6
Django==3.2.8
django-bootstrap-icons==0.7.1
django-bootstrap-v5==1.0.6
django-bootstrap5==2.1.2
django-crispy-forms==1.13.0
idna==3.3
importlab==0.6.1
iniconfig==1.1.1
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
networkx==2.6.3
packaging==21.2
Pillow==8.4.0
platformdirs==2.4.0
pluggy==1.0.0
psycopg2-binary==2.9.2
py==1.11.0
pylint==2.11.1
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==3.0.0
pytest-django==4.4.0
pytz==2021.3
reportlab==3.6.2
requests==2.26.0
soupsieve==2.2.1
sqlparse==0.4.2
toml==0.10.2
tomli==1.2.2
typing-extensions==3.10.0.2
urllib3==1.26.7
wrapt==1.13.2
