{% extends 'base/body.html' %}


{% block title %}
    Gestión de Categoría
{% endblock title %}


    

{%block header%}
 
    {% if user.is_authenticated %}
        <div class="container-fluid">
            <h1>Detalles de la Categoría {{query.nombre}}</h1>
            <hr class="dropdown-divider">
        </div>
    {%endif%}
{%endblock header%}

{%block content%}

    {% if user.is_authenticated %}
        
        <div class="container-fluid">
            {%if query1%}
            <h3>Estos son todos los elementos que están contenidos en dicha categoría</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio de compra</th>
                    <th scope="col">Proveedor</th>     
                    <th scope="col">Marca</th>    
                </tr>
                </thead>
                <tbody>  
                    
                    {% for row in query1  %}
                    <tr>
                        <th scope="row">{{row.id}}</th>
                        <td>{{row.nombre}}</td>
                        <td>{{row.cantidad}}</td>
                        <td>{{row.uniades}}</td>
                        <td>{{row.precio_compra}}</td>
                        {% if row.marca == None %}
                        <td>N/A</td>
                            
                        {% else %}
                        <td>{{row.marca}}</td>
                        {% endif %}
                        
                        <td> 
                            <a class="btn btn-warning" href="{% url 'Inventario:productoEditar' row.id %}">Editar</a>
                            <a class="btn btn-danger" href="#">Borrar</a></td>
                    </tr>
                    {% endfor %}
                        
                    
                </tbody>
            </table>
               {% else %}
                   <h3>No existen registros</h3>
                   <p>Intente agregar uno haciendo clic en <a class="btn btn-success" href="{% url 'Inventario:productoCrear' %}">Añadir producto</a></p>
               
            {%endif%}
            <a class="btn btn-primary" href="{% url 'gestion:categoriaIndex' %}">Atrás</a>
    </div>

    {%else%}

    {% include 'base/login_info.html' %}

    {%endif%}
    
{%endblock content%}

